rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    match /public/{allPaths=**} {
      allow get: if true;
      allow list, create, update, delete: if isAdmin();
    }

    match /{allPaths=**} {
      allow get, list, create, update, delete: if isAdmin();
    }
  }
}
